body{
    margin: 0;
    background-color: black;
}

.navList{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
    padding: 20px 0;
}

.navList a{
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 50px;
    margin-left: 100px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.dropDown{
    float:right;
    overflow: hidden;
}

.dropDown .dropbtn {
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 50px;
    margin-left: 100px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.moreInfo {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 6px;
}
.moreInfo a {
    float: none;
    color: black;
    background-color: white;
    padding: 20px 30px ;
    padding-left: 50px;
    text-decoration: none;
    display: block;
    text-align: right;
}
  
.dropDown:hover .moreInfo {
    display: block;
}


.navList a:hover{
    color: rgb(133, 255, 243);
}
.dropbtn:hover {
    color: rgb(133, 255, 243);
}

#welcomeh1{
    text-align: center;
    font-size: 40px;
    margin: auto;
    background-color: black;
    color: white;
}




.contactContainer {
    max-width: 600px;
    margin: 100px auto;
    padding: 60px;
    background-color: #c4c4c4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contactContainer h3{
    position: relative;
    right: 230px;
    top: 10px;
    text-align: left;
}

.contactContainer h1 {
    font-size: 30px;
    margin-bottom: 12px;
}

.contactContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactContainer input[type="date"],
.contactContainer textarea,
.contactContainer button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contactContainer textarea {
    height: 150px;
}

.contactContainer button {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contactContainer button:hover {
    background-color: rgb(29, 29, 29);
}
